@model TodoAppWebApi.ENTITIES.ViewModels.LoginRequestViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row text-center my-3">
    <div class="col-sm-12">
        <h2 class="display-4">Kayıt sayfasına hoşgeldiniz...</h2>
    </div>
</div>




<div class="row my-5">
    <div class=" col-sm-4 offset-4 login-box p-5">
        @using (Html.BeginForm())
        {
            if (Model == null)
            {
                <div class="form-group row">
                    <div class="col-sm-12">
                        <h5>Mail adresi veya şifre geçersiz...</h5>
                    </div>
                </div>
            }
            <div class="form-group row">
                @Html.LabelFor(i => i.Email, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(i => i.Email, null, new { id = "txtMail", @class = "form-control", @placeholder = "mail@mail.com" })
                    @Html.ValidationMessageFor(i => i.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(i => i.Password, new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-8">
                    @Html.PasswordFor(i => i.Password, new { id = "pswPassword", @class = "form-control", @placeholder = "Şifrenizi giriniz..." })
                    @Html.ValidationMessageFor(i => i.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input id="btnGonder" type="submit" value="Giriş" class="btn btn-success btn-block" />
                </div>
            </div>
        }
    </div>
</div>
